@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $offset-x $offset-y $blur $spread $color;
    -moz-box-shadow:inset $offset-x $offset-y $blur $spread $color;
    box-shadow:inset $offset-x $offset-y $blur $spread $color;
  } @else {
    -webkit-box-shadow: $offset-x $offset-y $blur $spread $color;
    -moz-box-shadow: $offset-x $offset-y $blur $spread $color;
    box-shadow: $offset-x $offset-y $blur $spread $color;
  }
}